@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url(https://fonts.googleapis.com/css?family=Galada|Nanum + Gothic|Nanum + Myeongjo);
/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Galada', cursive; */

/* 저장된 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic; 글자체 정의    
                src : local(../font/NanumGothic.woff) woff를 더권장 ; }  */
/* 웹사이트의 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(http://uhbee.com/nanum.eot) ; }   */

* {
  margin: 0;
  padding: 0;
  width: auto;
}
body {
  font-size: 16px;
  /* color: #6f6f6f;
  font-family: "Nanum Gothic", sans-serif; */
}
ul,
ol,
li {
  list-style-type: none;
}
img,
fieldset {
  border: none;
  vertical-align: middle;
}
hr {
  clear: both;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
}
