.s1 {
  background-image: url("../image/s1_back.png");
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.s1 .item {
  float: left;
  margin-top: 5%;
}

.s1 .item img {
  width: 100%;
}

.s1 .div1 {
  width: 60%;
  height: 700px;
}

.s1 .div2 {
  margin-left: 3%;
  width: 30%;
  padding-top: 5%;
  position: relative;
}

.s1 .div2 > a {
  position: absolute;
  bottom: -600px;
  height: 400px;
}
