/*index.css*/

* {
  font-family: "Noto Serif KR", serif;
  padding: 0;
  margin: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.inner {
  /* width: calc(100%-400px); */
  margin: 0 5%;
}

/*body*/

header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

/*background*/

.s0 {
  background-image: url("../images/s0.png");
  background-size: cover;
}
.ss {
  background-image: url("../images/s1.png");
  background-size: cover;
}
.s3 {
  background-image: url("../images/s3.png");
  background-size: cover;
}
#fp-nav ul li a span {
  background-color: white;
}
.s1 h3 {
  display: none;
}

/*header*/

.random_bnt {
  position: fixed;
  left: 5%;
  top: 0;
}
.random_bnt img {
  width: 80%;
}
.logo {
  position: fixed;
  left: calc(48%);
  top: 40px;
  width: 77px;
}

/*nav*/

.nav {
  position: fixed;
  right: 5%;
  top: 50px;
  width: 33%;
  padding: 20px 0;
  text-align: center;
}
.nav ul li {
  float: left;
  width: 20%;
}
#menuMid {
  display: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* height: 400px; */
  z-index: 99;
  padding-bottom: 50px;
}
#menuMid .inner {
  display: flex;
  padding-top: 200px;
}
#menuMid .inner h1 {
  width: 70%;
}
#menuMid .inner .menuSmBox {
  width: 40%;
  display: flex;
}
#menuMid .inner .menuSm {
  /* width: 50%; */
  display: flex;
  padding-right: 50px;
}
#menuMid .inner .menuSm .menuSm_sub {
  padding-right: 20px;
}

/* #menuMid .menuMid_textbox {
  width: 50%;
  padding-top: 200px;
}
#menuMid ul > li > a {
  float: left;
  color: blue;
}
#menuMid ul li > ul\ {
  float: left;
  color: red;
} */
/*login*/

#login > a {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 5%;
}
#login_click {
  display: none;

  position: fixed;
  z-index: 99;
  bottom: 40px;
  right: 4.4%;
  height: 0;
  border: solid 1px #ffffff;
  border-radius: 80px;
  background-color: #ffffff;
  padding: 20px;
}
#login_click ul {
  text-align: center;
}
#login_click ul li {
  text-align: center;
  padding: 15px 0;
}

/*s0*/

.section {
  /* color: white; */
}

.s0 .inner {
  display: flex;
  flex-direction: row-reverse;
}

.vertiText {
  writing-mode: vertical-rl;
  letter-spacing: 0.2rem;
  margin-block-end: auto;
}
.content_s0_h {
  width: 15%;
  margin-right: 5%;
}
.content_s0_h h2 {
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  padding-bottom: 20px;
}
.content_s0_img {
  width: 40%;
}
.content_s0_p {
  width: 30%;
  margin-right: 10%;
}

.content_s0_img h2 {
}
.content_s0_img img {
  width: 100%;
}

/*ss_s1*/

.s1 {
  /* justify-content: flex-end; */
}

.s1 .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.s1 .ssImgboxBig {
  margin-left: 10%;
  width: 40%;
}
.s1 .ssImgboxBig img {
  width: 100%;
}
.s1 .ssImgboxSmall {
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
  height: 50%;
  position: relative;
}
.s1 .ssImgboxSmall .ss_textbox {
  width: 100%;
  padding-bottom: 10%;
}
.s1 .ssImgboxSmall .ss_textbox h2 {
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.s1 .ssImgboxSmall .ss_textbox p {
  font-size: 1.2rem;
}
.s1 .ssImgboxSmall a {
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}
.s1 .ssImgboxSmall img {
  width: 100%;
}

/*ss_s2*/
.s2 {
  /* justify-content: flex-end; */
}

.s2 .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.s2 .ssImgboxBig {
  margin-right: 10%;
  width: 40%;
}
.s2 .ssImgboxBig img {
  width: 100%;
}
.s2 .ssImgboxSmall {
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
  height: 50%;
  position: relative;
}
.s2 .ssImgboxSmall .ss_textbox {
  width: 100%;
  padding-bottom: 10%;
}
.s2 .ssImgboxSmall .ss_textbox h2 {
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.s2 .ssImgboxSmall .ss_textbox p {
  font-size: 1.2rem;
}
.s2 .ssImgboxSmall a {
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}
.s2 .ssImgboxSmall img {
  width: 100%;
}

/*s3_map*/

.s3 .inner div {
  text-align: center;
}
.s3 .inner div img {
  width: 300px;
  padding: 50px 0 30px 0;
}
.s3 .inner div p {
  font-size: 0.8rem;
  font-weight: 500;
}

/*footer*/

.footer {
  color: #999999;
  padding: 10px 0;
  z-index: 98;
}

.footer .inner {
  display: flex;
  justify-content: flex-start;
}

.footer .inner .textbox {
}

.footer .inner .footer_textbox1 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 25px;
  /* border-right: solid 2px #999999; */
}

.footer .inner .footer_textbox1 .w1 {
  font-weight: 600;
}
.footer .inner .footer_textbox2 {
  font-weight: 500;
  font-size: 0.6rem;
  padding-left: 50px;
}
