* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div {
  display: block;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content .item {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  border: 1px solid red;
}

#content .item img {
  width: 100%;
}
